.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 10%;
}

.heading{
    font-size: 25px;
    color: #a697ce;
}

.suggetion{
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.eXMark {
  
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
    .heading {
      font-size: 20px; 
    }
  
    .suggetion {
      font-size: 16px; 
    }
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 480px) {
    .heading {
      font-size: 16px; 
    }
  
    .suggetion {
      font-size: 10px; 
    }
  }